<div class="container-fluid home-container">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      <h1 class="text-center">Bienvenidos al Sistema de Gestión Documental de Egresados</h1>
      <p>
        Sistema de Gestión Documental de Egresados de la Unidad Educativa "San José La Salle" para mejorar la eficiencia y facilitar el acceso a documentos académicos importantes para los egresados y el personal autorizado.
      </p>
      <h3>¿Qué es el Sistema de Gestión Documental de Egresados?</h3>
      <p>
        El Sistema de Gestión Documental de Egresados es una plataforma integral que permite la digitalización, almacenamiento, consulta y gestión de documentos académicos de manera segura y eficiente. Entre sus características principales se incluyen:
      </p>
      <ul>
        <li>Digitalización de documentos académicos utilizando tecnología OCR.</li>
        <li>Acceso seguro y controlado a los documentos por parte del personal autorizado.</li>
        <li>Consulta rápida y eficiente de documentos mediante búsqueda avanzada.</li>
        <li>Generación y exportación de documentos en formato PDF.</li>
        <li>Gestión de usuarios y permisos para asegurar la confidencialidad de la información.</li>
      </ul>
      <h3>Nuestro Compromiso</h3>
      <p>
        La Unidad Educativa "San José La Salle" está comprometida con la excelencia y la mejora continua de sus procesos académicos y administrativos. Este sistema es una muestra de su esfuerzo por ofrecer herramientas modernas que faciliten el trabajo del personal administrativo y aseguren que los egresados puedan acceder a sus documentos de manera rápida y sencilla.
      </p>
      <div class="navigation-links">
        <h3>Más Información</h3>
        <p>Para más información de uso del sistema visita: <a routerLink="/sgda/consultar-manuales" class="link-primary">Soporte y ayuda</a></p>
        <p>Para más información sobre políticas de uso y aspectos legales visita: <a routerLink="/sgda/consultar-contratos" class="link-primary">Aspectos Legales</a></p>
      </div>
    </div>
  </div>
</div>
