<app-header></app-header>
<div class="container">
  <!-- <div class="spinner" *ngIf="loading" ></div> -->
  <div class="row justify-content-center">
    <div class="col-12 col-lg-12">
      <div class="card border-0">
        <div class="card-body px-4">
          <div class="col-12 col-lg-12">
            <div class="loginForm">
              <div class="mb-5 mt-4 text-center">
                <h4 class="text-theme">RESTAURAR CONTRASEÑA</h4>
              </div>
              <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
                <div class="form-group mb-4">
                  <input type="email" class="form-control mt-2" id="exampleInputEmail1" formControlName="email" placeholder="Correo electrónico" autocomplete="new-email">
                  <div *ngIf="passwordResetForm.get('email')?.invalid && passwordResetForm.get('email')?.touched" class="text-danger">
                    Por favor, ingrese un correo electrónico válido.
                  </div>
                </div>
                <div class="text-center mt-4">
                  <button type="submit" class="btn btn-theme-Reset" [disabled]="loading || passwordResetForm.invalid">Enviar email de restauración</button>
                </div>
                <div class="text-center mt-3 mb-4">
                  <button type="button" (click)="goToLogin()" class="btn btn-theme-Login">Iniciar Sesion</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
