/* Estilo base para card-body */
.card-body {
    background-color: #282846;
    border-radius: 26px 26px;
    width: 400px; /* Ancho predeterminado para pantallas grandes */
    max-width: 100%; /* Asegura que la card no exceda el ancho de la pantalla en dispositivos móviles */
}

/* Media queries para ajustar el ancho de la card en pantallas más pequeñas */
@media (max-width: 576px) {
    .card-body {
        width: 90%; /* Ancho adaptable para pantallas móviles */
    }
}

.container {
    background-image: url('../../../../assets/Fondo_de_pantalla_sistema.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.passwordResetForm {
    padding: 10px 25px;
}

.text-theme {
    color: #ffffff;
}

.btn-theme-Reset {
    background-color: #D4A037;
    border-color: #D4A037;
    border-radius: 26px 26px;
    color: #000000;
    width: 100%;
}

.btn-theme-Login {
    background-color: #282846;
    border-color: #ffffff;
    border-radius: 26px 26px;
    color: #ffffff;
    width: 100%;
}

.form-control {
    border-radius: 26px 26px;
}
