<h1 class="dialog-title">Agregar Manual</h1>
<div mat-dialog-content>
  <form [formGroup]="manualForm">
    <div class="form-group">
      <label for="titulo">Título:</label>
      <input type="text" id="titulo" class="form-control" formControlName="titulo" required>
      <div *ngIf="manualForm.get('titulo')?.hasError('required')" class="error">El título es obligatorio</div>
    </div>
    <div class="form-group">
      <label for="fechaRegistro">Fecha de Registro:</label>
      <input type="date" id="fechaRegistro" class="form-control" formControlName="fechaRegistro">
      <div *ngIf="manualForm.get('fechaRegistro')?.hasError('required')" class="error">La fecha de registro es obligatoria</div>
    </div>
    <div class="file-input-container">
      <label for="file" class="file-label">Archivo</label>
      <input type="file" id="file" (change)="onFileSelected($event)" class="file-input">
      <div *ngIf="fileError" class="error">{{ fileError }}</div>
      <div *ngIf="selectedFile" class="file-name">{{ selectedFile.name }}</div>
    </div>
  </form>
</div>
<div mat-dialog-actions class="action-buttons">
  <button mat-button (click)="closeDialog()" class="cancel-button">Cancelar</button>
  <button mat-button (click)="saveManual()" [disabled]="!manualForm.valid || !selectedFile || isSaving" class="save-button" cdkFocusInitial>Guardar</button>
</div>
