<div class="container mt-4">
    <mat-card class="tableColor p-4 text-white">
      <mat-card-content>
        <div class="row">
            <!-- <h4 class="text-center">Consultar Datos de Egresado</h4> -->
            <div class="col-md-4 mt-4">
                <div class="search-section">
                    <h4>Campos de Búsqueda</h4>
                    <div class="search-field">
                        <mat-form-field appearance="fill" class="w-100">
                        <mat-label>C.I.</mat-label>
                        <input matInput placeholder="Digite la cédula a buscar" [(ngModel)]="cedula" (input)="convertirAMayusculas($event, 'cedula')">
                        <button mat-icon-button matSuffix (click)="buscarEgresadoPorCedula()">
                            <mat-icon style="color: black;">search</mat-icon>
                        </button>
                        </mat-form-field>
                    </div>
                    <div class="search-field">
                        <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Nombres</mat-label>
                        <input matInput placeholder="Digite el nombre a buscar" [(ngModel)]="nombre" (input)="convertirAMayusculas($event, 'nombre')">
                        <button mat-icon-button matSuffix (click)="buscarEgresadosPorNombre()">
                            <mat-icon style="color: black;">search</mat-icon>
                        </button>
                        </mat-form-field>
                    </div>
                    <div class="search-field w-100">
                        <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Apellidos</mat-label>
                        <input matInput placeholder="Digite el apellido a buscar" [(ngModel)]="apellido" (input)="convertirAMayusculas($event, 'apellido')">
                        <button mat-icon-button matSuffix (click)="buscarEgresadosPorApellido()">
                            <mat-icon style="color: black;">search</mat-icon>
                        </button>
                        </mat-form-field>
                    </div>
                    <div></div>
                    <div class="search-field w-100 mt-4">
                        <h2>Resultado</h2>
                        <ul *ngIf="egresados.length > 0" class="list-group">
                          <li *ngFor="let egresado of egresados" class="list-group-item" (click)="seleccionarEgresado(egresado)">
                            {{ egresado.getNombre() }} {{ egresado.getApellido() }} - {{ egresado.cedula ? egresado.cedula.getValue() : 'Sin Cédula' }}
                          </li>
                        </ul>
                        <p *ngIf="egresados.length === 0">No se encontraron egresados</p>
                    </div>
                    <div class="search-field">
                        <button mat-button class="btn-anular w-100 p-4" (click)="limpiarDatos()">Limpiar campos</button>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mt-4">
                <h4>Egresado Seleccionado</h4>
                <div *ngIf="egresadoSeleccionado">
                    <p>Nombre: {{ egresadoSeleccionado.getNombre() }}</p>
                    <p>Apellido: {{ egresadoSeleccionado.getApellido() }}</p>
                    <p>Cédula: {{ egresadoSeleccionado.cedula ? egresadoSeleccionado.cedula.getValue() : 'Sin Cédula' }}</p>
                </div>

                <table mat-table [dataSource]="documentos" class="mat-elevation-z8">
                <ng-container matColumnDef="Tipo de documento">
                    <th mat-header-cell *matHeaderCellDef> Tipo de documento </th>
                    <td mat-cell *matCellDef="let element"> {{element.tipoDocumento.getValue()}} </td>
                </ng-container>
                
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="verDocumento(element)">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="abrirExportarModal(element)">
                        <mat-icon>picture_as_pdf</mat-icon>
                    </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  